@import url('https://fonts.google.com/specimen/Space+Mono');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;500;700&display=swap');
:root {
    --font: 'Space Mono';
    --font-size-form-inputs: 20px;
    --white: hsl(0, 0%, 100%)
}

* {
    box-sizing: border-box;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
}

body {
    background-color: rgb(211, 255, 255);;
    height : 100vh;
    margin: 0 ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: var(--font) ;
}

.output-header h2 {
    color: var(--white);
}

h2 {
    color: hsl(183, 100%, 15%);
}

h3 {
    color: hsl(183, 100%, 15%);
}

.container {
    max-width: 800px;
    background-color: var(--white);
    border-radius: 1rem;
    margin: 1px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    padding: 20px;
    box-shadow: 0 5px 40px rgb(191, 231, 231);
}

input {
    width: 100%;
    background-color: hsl(185, 41%, 84%);
    border: 2px solid transparent;
    outline: none;
    padding: 12px;
    border-radius: 5px;
    font-family: var(--font);
    text-align: end;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 10px;
    font-weight: 200;
    font-size: 1rem;
    color: hsl(183, 100%, 15%);
}

input:focus {
    border: 2px solid hsl(172, 67%, 45%);
}

.input-bill input {
    background-image: url('images/icon-dollar.svg');
}

.input-people input {
    background-image: url('images/icon-person.svg');
}

input.input-item {
    cursor: text;
    background-color: hsl(189, 41%, 97%);
    color: hsl(183, 100%, 15%);
    text-align: end;
    font-weight: 200;
}

input.input-item:hover {
    background-color: hsl(189, 41%, 97%);
}

.input {
    padding-right: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.input-bill, .input-tip {
    margin-bottom: 40px;
}

.input-grid {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
}

.input-grid input[type='radio'] {
    display: none;
}

input[type='radio']:checked+label {
    background-color: hsl(172, 67%, 45%);
    color: hsl(183, 100%, 15%);
}

.input-grid label {
    cursor: pointer;
    color: var(--white);
    background-color: hsl(183, 100%, 15%);
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    font-weight: 300;
}

.input-grid #custom {
    padding: 5px;
}

.input-grid label:hover {
    background-color: hsl(189, 41%, 97%);
    color: hsl(183, 100%, 15%);
}

.input-item input {
    width: 100%;
}

.input-people input {
    width: 100%;
}

.people-header {
    display: flex;
    justify-content: space-between;
}

#error {
    color: red;
    display: none;
}

.output {
    border-radius: 10px;
    padding: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: hsl(183, 100%, 15%);
}

.output-amount, .output-total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0;
}

.number {
    color: hsl(172, 67%, 45%);
    font-weight: 300;
    font-size: 2.5rem;
    line-height: 0;
}

button {
    cursor: pointer;
    color: hsl(183, 100%, 15%);
    background-color: hsl(172, 67%, 45%);
    font-family: var(--font);
    font-weight: 300;
    text-transform: uppercase;
    border: none;
    padding: 10px 0;
    border-radius: 5px;
}

button:hover {
    background-color: hsl(189, 41%, 97%);
}

@media (max-width:500px) {
    body{
        height: 100%;
    }
    .card {
        flex-direction: column;
    }
    .input {
        padding-right: 0;
    }
    .input-grid {
        grid-template-columns: repeat(2, 1fr);
    }
    .output {
        margin-top: 20px;
    }
}